<div class="card-style flex-between mt-3">
  <div class="event-category-description">
    <div class="event-category-title">
      <p><%=@event_category.category.name%></p>
    </div>
    <div class="event-description">
      <h3> <%= @event_category.event.title%> </h3>
      <p> <%= @event_category.event.description %> </p>
    </div>
  </div>
  <%= link_to "S'abonner", dashboard_path(current_user) , class: "btn btn-ghost"%>
</div>
    <%#= render partial: 'event_categories/event_categories_card', locals: {event_category: @event_category} %>
