<div class="header-top">
  <div class="container">
    <h1> <%= @event_category.title %></h1>
  </div>
</div>
<br>
  <div class="container">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">Recevez vos leads directement sur Slack <a href="#" target="_blank"><i class="fab fa-slack"></i></a></label>
    </div>
  </div>
<br>
<div class="container">
  <div class="leads-list">
    <% if false %>
      <% @recruitments.each do |recruitment| %>
        <%= render partial: 'event_categories/lead_recruit_card_large', locals: {recruitment: recruitment} %>
      <% end %>
    <% else %>
      <% @leads.each do |lead| %>
        <%= render partial: 'event_categories/lead_company_card_large', locals: {lead: lead, event:@event_category.event } %>
      <% end %>
    <% end %>
  </div>
</div>

<!-- @event_category.event.title == "Les sociétés qui recrutent" -->
