<div class="header-top">
  <div class="container">
    <h1> <%= @event_category.title %></h1>
  </div>
</div>
<br>
<div class="container">
  <div class="leads-list">
    <% if @event_category.event.title == "Les sociétés qui recrutent" %>
      <% @recruitments.each do |recruitment| %>
        <%= render partial: 'event_categories/lead_recruit_card', locals: {recruitment: recruitment} %>
      <% end %>
    <% else %>
      <% @companies.each do |company| %>
        <%= render partial: 'event_categories/lead_company_card', locals: {company: company, event_category:@event_category } %>
      <% end %>
    <% end %>
  </div>
</div>

