<div class="header-top">
  <div class="container">
    <h1> <%= @event_category.title %></h1>
  </div>
</div>
<br>
  <div class="container">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1">
<!--       <label class="custom-control-label" for="customSwitch1">Recevez vos leads directement sur Slack <a href="#" target="_blank"><i class="fab fa-slack"></i></a></label>
 -->      <a href="https://slack.com/oauth/v2/authorize?client_id=1542625832836.1530110301126&scope=incoming-webhook&user_scope="><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcSet="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
    </div>
  </div>
<br>
<div class="container">
  <div class="leads-list">
    <% @leads.each do |lead| %>
      <%= render partial: 'event_categories/lead_company_card_small', locals: {lead: lead, event:@event_category.event } %>
    <% end %>
  </div>
</div>

<!-- @event_category.event.title == "Les sociétés qui recrutent" -->
