// Define variables for your color scheme

// For example:
$red: #ec524b ;
$blue: #1F3C88;
$yellow:#f1e189 ;
$orange:#EE6F57 ;
$green:#b8de6f ;
$gray:#cdc9c3 ;
$light-gray: #F6F5F5;

// bleu foncé = > #070D59
