.split {
  display: flex;
}

.main-page {
  flex-grow: 1;
  background-color: white;
  padding: 2rem;
}

.overview {
  display: flex;
  .abonnement-box {
    width: 40%;
    margin-right: 1rem;
  }

  .lead-box {
    width: 60%;
  }
}

.box-title {
  color: $dark-gray;
  font-weight: medium;
  border-bottom: 0.5px solid $middle-gray;
  padding: 1rem .5rem;
}

