<div class="footer content-wrapper">
  <ul class="icon">
    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
  </ul>
  <p>Ce site internet a été fait avec le Wagon et Zoom depuis chez nous </p>
</div>
