
<div class="footer content-wrapper">
  <div class="container">
    <ul class="icon list-inline">
      <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <p>Ce site internet a été fait avec ❤️ par l'équipe LEAD depuis Paris.</p>
  </div>


  <div class="footer-link">
    <div class="footer-link">
      <a href="about"><h6>A propos</h6></a>
      <div class="footer-link-list">
      </div>
    </div>

     <div class="footer-link">
      <a href="cpps"><h6>CPPS</h6></a>
      <div class="footer-link-list">
      </div>
    </div>

     <div class="footer-link">
      <a href="legal"><h6>Mentions légales</h6></a>
      <div class="footer-link-list">
      </div>
    </div>

     <div class="footer-link">
      <a href="contact"><h6>Contact</h6></a>
      <div class="footer-link-list">
      </div>
    </div>

  </div>
</div>
