
<div class="footer content-wrapper">
  <div class="container">
    <ul class="icon list-inline">
      <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <p>Ce site internet a été fait avec ❤️ par l'équipe LEAD depuis Paris.</p>
  </div>

  <br>
  <br>


  <div class="footer-link">
    <div class="footer-link">
      <a href="about"><h5>A propos</h5></a>
      <div class="footer-link-list">
      </div>
    </div>

     <div class="footer-link">
      <a href="#"><h5>CPPS</h5></a>
      <div class="footer-link-list">
      </div>
    </div>

     <div class="footer-link">
      <a href="#"><h5>Mentions légales</h5></a>
      <div class="footer-link-list">
      </div>
    </div>

     <div class="footer-link">
      <a href="#"><h5>Contact</h5></a>
      <div class="footer-link-list">
      </div>
    </div>

  </div>
</div>
