
<div class="home-arguments-cta">
  <div class="container">
    <div class="home-definition">
      <h1 class="mb-2 mt-4">Notre mission est de construire la dorsale de données pour les entreprises modernes.</h1>
      <br>
      <br>
      <br>
      <p class="">LEAD est le moteur de données marketing pour les interactions clients. Nous aidons les entreprises à se développer en leur fournissant des outils qui les aident à comprendre en profondeur leurs clients, à identifier les perspectives d'avenir et à personnaliser fortement chaque interaction marketing et commerciale.</p>
    </div>
  </div>
</div>

<div class="about">
<br>
  <h2 style="text-align : center; color: white;">Engagés à vos côtés.</h2>
  <div class="about-values">
    <div class="values">
      <i class="far fa-thumbs-up"></i>
      <h4>Responsabilité</h4>
      <br>
      <p>Nous protégeons la vie privée de nos utilisateurs. Nous ne vendons pas les données de nos utilisateurs et ne faisons pas de publicité sur notre site.
      Nous nous rémunérons uniquement sur la base de l’abonnement de nos clients.</p>
    </div>

    <div class="values">
      <i class="fas fa-search"></i>
      <h4>Transparence</h4>
      <br>
      <p>Avoir un accès instantané aux données dont vous avez besoin peut sembler magique, mais derrière le rideau, LEAD utilise la technologie la plus
      intelligente d'aujourd'hui pour trouver ces données pour vous. </p>
    </div>
  </div>

  <div class="about-values">
    <div class="values">
      <i class="far fa-handshake"></i>
      <h4>Collaboration</h4>
      <br>
      <p>Dans nos relations avec nos membres comme au sein de notre équipe, la collaboration fait partie de notre état d’esprit.
      Savoir vivre et travailler ensemble, prendre le temps de penser à nos collègues et de les aider afin qu’ils progressent au quotidien, c’est l’esprit LEAD !</p>
    </div>

    <div class="values">
      <i class="far fa-lightbulb"></i>
      <h4>Orientés solutions</h4>
      <br>
      <p>Parce que nous sommes orientés solutions, nous identifions toujours les informations nécessaires à nos clients. C'est aussi ce qui nous permet d'anticiper et
      d'accompagner individuellement nos partenaires dans leur croissance.</p>
    </div>
  </div>
  <div class="cta-about"><%= link_to "Essayez maintenant", new_user_registration_path, class: "btn-white-white" %></div>

  <br>
</div>


<div class="about-arguments-ctd">
  <div class="container">
    <div class="about-testimony">
      <h2>Ils ont pris le(s) L.E.A.D. : </h2>
      <br>
      <br>
      <br>
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
          <div class="card-testitomial">
            <div class="card-testitomy flex-center">
              <%= image_tag "https://res.cloudinary.com/dnpdonlro/image/upload/v1606319305/shipup_video_wkkXx68_zgtopx.jpg", gravity: :face, class: "avatar-bordered" %>
              <span> <b>Diane</b>  chez UpLaw </span>
            </div>
            <p><em>"Les informations d'entreprise, géographiques et démographiques de L.E.A.D. permettent à nos équipes de vente et d'analyse de fonctionner à leur capacité maximale.
            Je ne sais pas ce que nous ferions sans eux."</em></p>
          </div>
        </div>
        <div class="col">
          <div class="card-testitomial">
            <div class="card-testitomy flex-center">
              <%= image_tag "https://res.cloudinary.com/dpco9ylg1/image/upload/v1606907303/te%CC%81le%CC%81chargement_2_ossmd8.jpg", gravity: :face, class: "avatar-bordered" %>
              <span> <b>Pierre</b>  chez LexDev </span>
            </div>
            <p><em>"On a multiplié par 5 les demandes de démonstration, généré des centaines d'opportunités qualifiées et accéléré les transactions en accélérant les prospects les mieux adaptés."</em></p>
          </div>
        </div>
    </div>
  </div>
</div>

