<div class="home-arguments-cta">
  <div class="container">
    <div class="home-definition">
      <h1 class="mb-2 mt-4">Contactez-nous !</h1>
    </div>
  </div>
</div>

<br>
<br>

<div class="contacts">

  <div class="contacts-arguments">
    <h3>Ce que vous obtenez avec L.E.A.D.</h3>
    <br>

      <p><i class="far fa-check-circle"></i> Des données pour l'ensemble de votre cycle de vie client</p>
      <p><i class="far fa-check-circle"></i> Meilleure qualité et couverture des données</p>
      <p><i class="far fa-check-circle"></i> Approuvé par les entreprises du secteur juridique</p>
    <br>
    <h3>Société Notalink</h3>
    <br>
    <p><i class="fas fa-envelope-square"></i> desrieux.henri@gmail.com</p>
    <p><i class="fas fa-phone-square-alt"></i> 06.80.68.34.23</p>

  </div>

  <div class="map">

  <%= cl_image_tag("https://res.cloudinary.com/dpco9ylg1/image/upload/v1607613066/Capture_d_e%CC%81cran_2020-12-10_a%CC%80_16.10.38_snu93z.png", width: 500, height: 400 ) %>

  </div>
</div>

