
<div class="home-arguments-cta">
  <div class="container">
    <div class="home-definition">
      <h1 class="mb-2 mt-4">Conditions générales d'utilisation</h1>
      <br>
      <br>
      <p class="">Le présent document constitue les Conditions Générales d’Utilisation du site leadseventdata.club. Veuillez noter que les Conditions Générales de LEAD sont susceptibles d’être modifiées à tout moment : vous êtes donc invité à les consulter régulièrement.</p>
    </div>
  </div>
</div>

<div class="container">
  <br>
  <h2> 1) Préambule</h2>

  <p>La Société Notalink, SAS immatriculée au Registre du commerce et des sociétés de Paris sous le numéro 848 915 781, ayant son siège social au 1 rue Jean Beausire, 75004 PARIS, propose sur son site internet LEAD (ci-après dénommé le Site) un service d’abonnement à destination des notaires. L’établissement signataire d’un abonnement proposé par le Site est ci-après dénommé l’Etablissement ou le Client.
  Ce service est régi par les présentes conditions générales de vente (ci-après dénommées les CGV), à l’exclusion de tout autre document ou condition. Tout abonnement souscrit depuis le Site implique l’adhésion entière et sans réserve du Client aux présentes CGV.
  Notalink se réserve la possibilité de modifier les CGV à tout moment. Les nouvelles conditions générales de vente seront, le cas échéant, portées à la connaissance du Client par modification en ligne. Les CGV sont soumises à la loi française. En cas de litige, les tribunaux français seront seuls compétents.
  </p>

  <h2> 2) Utilisation</h2>

  <p>Le contenu du Site est consultable par les partenaires dans le cadre d’un usage strictement personnel, privé et non collectif, librement, pour tout le contenu. Toute réexploitation dans un cadre professionnel ou commercial ou toute commercialisation de ce contenu auprès de tiers est interdite, sauf accord exprès de LEAD.
  </p>


  <h2> 3) Abonnement</h2>
  <p>L’Etablissement peut souscrire à un service différencié de divulgation de ses informations auprès des utilisateurs. Les présentes conditions générales s’appliquent exclusivement à ce service particulier sur abonnement. L’abonnement au service LEAD est un abonnement annuel.
  </p>

  <h2> 4) Objet du service</h2>
  <p>L’abonnement proposé par le Site comporte les services suivants :</p>

  <ul>
    <li>Possibilité de s'abonner à des évenements</li>
    <li>Accès à la liste des abonnements via un tableau de bord</li>
    <li>Collecte d'informations en fonction des abonnements soucrits</li>
    <li>Liaison avec un compte slack pour obtenir l'information via ce canal</li>
  </ul>


  <h2> 5) Engagements de l’Etablissement</h2>
  <p>L’Etablissement s’engage à :</p>

  <ul>
    <li>Transmettre les informations de disponibilité dans un délai raisonnable suite à une sollicitation des équipes du Site.</li>
    <li>Vérifier et valider les informations proposées sur le site concernant l’Etablissement de façon régulière.</li>
    <li>Solliciter raisonnablement les équipes du Site concernant le droit de conseil et recommandation explicité ci-dessus à l’article 4.3.</li>
    <li>Faire un retour écrit systématique sur les orientations proposées par le Site, dans un délai de 1 mois suite à la première prise de contact avec l’utilisateur, via l’adresse mail desrieux.henri@gmail.com pour évaluer la qualité de l’orientation proposée par le Site.</li>
  </ul>

  <h2> 6) Modalités de souscription</h2>
  <p>LEAD se réserve le droit d’annuler tout abonnement d’un Client avec lequel existerait un litige de paiement relatif à une offre commercialisée du Site, sans que celui-ci puisse prétendre à une quelconque indemnité à quelque titre que ce soit.
  Les données enregistrées par le système de paiement GoCardLess constituent la preuve des transactions financières.
  Pour valider son abonnement, le Client accepte les Conditions Particulières de Prestation de Service en créant son espace personnel. Une confirmation d’adhésion lui sera adressée à l’adresse e-mail renseignée, reprenant le facture annuelle. Ce document reprendra la durée de l’abonnement ainsi que le montant exact facturé.
  Le Client reconnaît que les données enregistrées sur le Site constituent la preuve de la transaction et les données enregistrées par le système de paiement décrit ci-après, la preuve de la transaction financière.
  </p>


  <h2> 7) Paiement</h2>
  <p>Les prix en vigueur de l’offre d’abonnement est celui affiché sur la facture adressé au Client, LEAD se réservant le droit de les modifier à tout moment. Ils sont indiqués en euros hors taxe.
  Les abonnements sont payables en euros. Le Client est seul responsable du paiement effectif du produit acheté. Le Site utilise le service de paiement GoCardLess (pour les mandats de prélèvement SEPA) et ne saurait être tenu responsable des problèmes de paiement liés au fonctionnement de ces services.
  En cas de rejet du prélèvement, LEAD se réserve le droit de demander le règlement de la somme due par tout autre moyen de paiement. A défaut de règlement effectif dans un délai de quinze jours au maximum à compter de sa souscription, leadseventdata.club aura la possibilité de résilier de plein droit l’abonnement souscrit, sans préjudice de son droit de demander le règlement de sa créance pour la période écoulée.
  Le Client reconnaît devoir payer l’intégralité du prix et des charges afférentes au produit acheté, y compris les taxes.
  Le paiement par mandat de prélèvement SEPA via GoCardLess est disponible. Par utilisation de ce service, l’Etablissement accepte les conditions d’utilisation de GoCardless présentées ici : <a href="https://gocardless.com/fr-fr/legal/marchands/">https://gocardless.com/fr-fr/legal/marchands/</a>. Dans le cadre d’un paiement automatique par mandat de prélèvement SEPA, il appartient au Client dont le prélèvement est impossible de contacter le service Client afin de résoudre le problème. A défaut, l’abonnement sera suspendu.
  </p>

  <h2> 8) Résiliation</h2>
  <p>L’abonnement proposé par LEAD est d’une durée d’un an, dans la mesure de l'engagement pris à l’article 3 de ce contrat, avec paiement mensuel. La reconduction de l’abonnement pour une durée d’un an est tacite et automatique. Le Client peut à tout moment demander la résiliation de son abonnement par courrier recommandé avec accusé de réception, d’un message explicitant la volonté de résiliation de l’abonnement. La résiliation sera alors effective à la fin de la période d'engagement, et la période d’engagement sera dûe.
  Le Client peut à tout moment décider de la fermeture de son profil et de la suppression définitive de son Compte et de toutes les données attachées à celui-ci.
  Pour autant, le Client ne dispose pas de la faculté de résilier son inscription aux Services avant le terme du contrat, soit avant l’expiration du délai de 12 (douze) mois à compter de la signature du contrat.
  Aucun remboursement ne sera donc effectué au profit du Client au titre de la fermeture anticipée de son compte dans l’hypothèse où le Client aurait payé son abonnement annuel en une seule fois ;  et le Client devra impérativement honorer les prélèvements/paiements jusqu’au terme du contrat en cas de paiement de son abonnement à échéances mensuelles.
  Le Client dispose en revanche d'une faculté de ne pas renouveler son Abonnement, à condition d'en informer la Société par courrier recommandé au siège de la Société, envoyés au plus tard 15 jours ouvrés avant la date de reconduction tacite de son Abonnement.
  </p>

  <h2> 9) Réclamations et médiation</h2>
  <p>Pour toute information, question ou conseil, le service support de Site peut être contacté à l’adresse suivante : desrieux.henri@gmail.com.
  </p>

  <h2> 10) Dispositions générales</h2>

  <h5>Modifications et renonciations</h5>
  <p>LEAD se réserve le droit de modifier les conditions générales de vente.</p>

  <h5>Intégralité de l’accord</h5>
  <p>Les conditions générales représentent l’intégralité de l’accord passé entre le Client et leadseventdata.club relatif à l’objet visé.
  </p>

  <h5>Force majeure</h5>
  <p>Leadseventdata.club et aucune partie tierce participant à la fourniture du service ne seront tenus responsables en cas de défaillance ou de retard dans l’exécution de leurs obligations au titre des conditions générales, résultant de causes indépendantes de leur volonté, à l’inclusion et sans limitation aucune de cas de force majeure, actes des autorités civiles ou militaires, incendies, inondations, séismes, émeutes, guerres, actes de sabotage, défaillances de réseaux, erreurs de codage de fichiers électroniques, limites de logiciels ou incapacité d’obtenir des services de télécommunication ou mesures gouvernementales, pour autant, toutefois, que les parties concernées prennent toutes dispositions raisonnables afin d’atténuer les effets résultant des dites situations.
  </p>

  <h5>Base de négociation</h5>
  <p>Le Client et LEAD reconnaissent et conviennent que les exclusions de garantie, ainsi que les limitations de responsabilité et de recours figurant dans les conditions générales sont tangibles, constituent les bases des conditions générales.
  </p>









































</div>




