<div class="header-top">
  <div class="container">
    <h1>Mon dashboard</h1>
    <p>La vision directe de mes abonnements et de mes leds</p>
  </div>
</div>

<div class="dash-tabs">
  <div class="container">
    <ul class="list-inline tabs">
      <li>
        <a href="#" class="tab-underlined active">Mes Abonnements</a>
         <%# @subscriptions.each do |subscription| %>
          <%# if subscription.statut == true %>
          <%#= event_categories.category.name %>
          <%#= event_category.title %>
          <%#= subscription.statut %>
          <%#= subscription.frequency %>
          <%#= category.event_categories.count %>
          <%# end %>
         <%# end %>
      </li>
      <li>
        <a href="#" class="tab-underlined">Mes Leads</a>
      </li>
    </ul>
  </div>
</div>

<br>
<br>


<div class="container">
  <div class="card-style my-3">
    <h5>Vous rencontrez des difficultés ? </h5>
    <div class="d-flex">
      <i class="fas fa-phone-alt"></i><p>06.80.68.34.23</p>
    </div>
  </div>
</div>
