<div class="header-top">
  <div class="container">
    <h1>Mon dashboard</h1>
    <p> La vision directe de mes abonnements et de mes L.E.A.D.s</p>
  </div>
</div>

<div class="dash-tabs">
  <div class="container">
    <ul class="list-inline tabs">
      <li>
        <a href="#" class="tab-underlined active">Mes Abonnements</a>

      </li>
      <li>
        <a href="#" class="tab-underlined">Mes Leads</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <% my_sub = Subscription.where(user: current_user) %>
  <% my_sub.each do |subscription| %>
    <%= render partial: 'subscriptions/subscriptions_card', locals: {subscription: subscription} %>
  <% end %>
</div>

<br>
<br>


<div class="container">
  <div class="card-style my-3">
    <h5>Vous rencontrez des difficultés ? </h5>
    <div class="d-flex">
      <i class="fas fa-phone-alt"></i><p>06.80.68.34.23</p>
    </div>
  </div>
</div>
