<div class="header-top">
  <div class="container">
    <h1>Mon dashboard</h1>
    <p> La vision directe de mes abonnements et de mes L.E.A.D.s</p>
  </div>
</div>

<div class="split">
  <div class="side-bar">
    <ul class="list-inline tabs">
      <li>
        <a href="#" class="tab-underlined active">
        Mes Abonnements (<%= current_user.subscriptions.count %>)
        </a>
      </li>
      <li>
        <a href="#" class="tab-underlined">Mes Leads</a>
      </li>
    </ul>
  </div>
  <div class="main-page">
    <div class="abonnement-box">
      <% @my_sub_cat.each do |category| %>
        <div class="sub-title">
          <%= category.name %>
        </div>
        <% @my_sub.each do |subscription| %>
          <% if subscription.category == category %>
            <%= render partial: 'subscriptions/subscriptions_card', locals: {subscription: subscription} %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="lead-box">
      <% @my_leads_array.each do |lead_list| %>
        <% lead_list.each do |lead| %>
          <%= render partial: 'event_categories/lead_company_card', locals: {lead: lead} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

