<div class="header-top">
  <div class="container">
    <h1>Mon dashboard</h1>
    <p>welcome to the lead projects ! </p>
  </div>
</div>

<div class="dash-tabs">
  <div class="container">
    <ul class="list-inline tabs">
      <li>
        <a href="#" class="tab-underlined active">Mes Abonnements</a>

      </li>
      <li>
        <a href="#" class="tab-underlined">Mes Leads</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
      <% my_sub = Subscription.where(user: current_user) %>
       <% my_sub.each do |subscription| %>
  <div class="card-style mt-3">
        <%= subscription.event_category.category.name %>
        <%= subscription.event.title %>
        <%= subscription.status %>
        <%#= subscription.frequency %>
  </div>
       <% end %>
</div>

<br>
<br>


<div class="container">
  <div class="card-style my-3">
    <h5>Vous rencontrez des difficultés ? </h5>
    <div class="d-flex">
      <i class="fas fa-phone-alt"></i><p>06.80.68.34.23</p>
    </div>
  </div>
</div>
