<div class="container">
  <h1>Pages#dashboard</h1>
  <p>welcome to the lead projects ! </p>
</div>

<div class="container">
  <h2>Votre tableau de bord</h2>
  <p>Retrouvez ici votre tableau de bord avec l'ensemble de vos soucsriptions. <br> Vous pouvez à tout instant mettre en pause ou modifier le format de réception de vos événements</p>
  <div class="card-subscription"></div>
</div>



<div class="container">
  <h3>Vous rencontrez une difficulté ? </h3>
  <i class="fas fa-phone-alt"></i><p>01.47.49.45.43</p>
</div>
