<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dnpdonlro/image/upload/v1606218201/Legal_srnb3p.jpg);">
  <div class="container">
    <h1>Prenez une longueur d'avance avec <strong>L.E.A.D !</strong></h1>
    <p>Optimisez vos chances de conversion auprès de vos
    prospects juridiques <br> en les contactant au meilleur moment</p>
    <a class="btn btn-ghost btn-white" href="#">Découvrez les professions couvertes</a>
  </div>
</div>
<div class="container">
  <div class="home-arguments py-5">
    <h2>Pourquoi choisir L.E.A.D. ?</h2>
    <div class="home-cards flex-between py-3">
      <div class="card-home flex-vert-around">
        <%= image_tag "https://source.unsplash.com/random/400x400", alt: "alttext", class: "card-home-img" %>
        <h4>Notre expertise sectorielle</h4>
        <p>Notre connaissance pointue du secteur de la legal tech nous permet de constuire les requetes les plus pertinentes afin de vous servir les meilleurs leads possibles.</p>
      </div>
      <div class="card-home flex-vert-around">
        <%= image_tag "https://source.unsplash.com/random/400x400", alt: "alttext", class: "card-home-img" %>
        <h4>Notre expertise technique</h4>
        <p>Nos outils puissants et ciblés permettent de récupérer l'information sur un panel de sites pertinents, puis de la reprocesser pour vous servir des leads clairs.</p>
      </div>
      <div class="card-home flex-vert-around">
        <%= image_tag "https://source.unsplash.com/random/400x400", alt: "alttext", class: "card-home-img" %>
        <h4>Notre intégration facile</h4>
        <p>Tous les matins, recevez directement dans vos outils collaboratifs internes (type slack) vos leads du jour. Des nouvelles opportunités tous les jours pour vos commerciaux.</p>
      </div>
    </div>
  </div>

</div>
