<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dnpdonlro/image/upload/v1606218201/Legal_srnb3p.jpg);">
  <div class="container">
    <h1>Prenez une longueur d'avance avec <strong>L.E.A.D !</strong></h1>
    <p>Optimisez vos chances de conversion auprès de vos
    prospects juridiques en les contactant au meilleur moment</p>
    <a class="btn btn-flat" href="#">Découvrez les professions couvertes</a>
  </div>
</div>
<div class="container">
  <div>
    <h2>Pourquoi choisir L.E.A.D. ?</h2>
  </div>
</div>
