<div class="home-arguments-cta">
  <div class="container">
    <div class="home-definition">
      <h1 class="mb-2 mt-4">Mentions légales</h1>
    </div>
  </div>
</div>

<div class="container">
  <br>
  <p>Le présent site internet leadseventdata.club a été créé en France. <br><br> L’accès au site, sa consultation et son utilisation sont subordonnés à l’acceptation sans réserve des Conditions Générales d’Utilisation.</p>

  <h4>Le site est édité par :</h4>

  <p></p>Notalink, SAS au capital de 1200,00 euros, immatriculée au registre du commerce et des sociétés de Paris sous le numéro 848 915 781.
  <br>
  <br>
  <p><b>Siège social :</b> 1 rue Jean Beausire, Paris.</p>

  <p><b>TVA intracommunautaire :</b> FR36 848 915 781</p>

  <p>Le Directeur de Publication de leadseventdata.club est Monsieur Henri des Rieux.</p>

  <h4>Le site leadseventdata.club est hébergé par :</h4>

  <p>Le Site Internet leadseventdata.club est hébergé par la société Namecheap, 4600 East Washington Street v# 305 Phoenix, AZ 85034 USA. </p>
  <hr>
  <p>Pour toute question sur l’entreprise, vous pouvez nous envoyer vos questions par email. <br><br>

Pour simplifier nos procédures, merci de bien vouloir indiquer dans votre réquisition l’adresse email à laquelle vous faire parvenir notre réponse.</p>
</div>
