.btn-ghost {
  color: $red;
  border: 2px solid $red;
  padding: 8px 24px;
  border-radius: $border-radius-lg;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: $red;
  font-weight: normal;
}

.btn-ghost-white {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: initial;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  background-color: $red;
  border: 2px solid $red;
}

.btn-ghost-white:hover {
  opacity: 1;
  color: white;
  font-weight: normal;
}

.tag-event {
  border-radius: $border-radius-sm;
  color: white;
  background-color: $red;
  padding: .2rem .8rem;
  opacity: 0.5;
  font-size: .8rem;
  font-weight: lighter;
}

button:focus {outline:0;}

.btn-white-white {
  position: absolute;
  padding: 8px 24px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  background-color: $red;
  color: white;
  border: 2px solid $white;
  border-radius: $border-radius-btn;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  top: 125px;
}

.btn-white-white:hover {
  opacity: 1;
  color: white;
  font-weight: normal;
  text-decoration: none;
}

.btn-dash {
  color: $dark-red;
  padding: 1rem;
  border-radius:$border-radius-btn;
  font-size: 1.2rem;
  font-weight: light;
  a {
    display: flex;
    color: $dark-red;
    text-decoration: none;
  }
  i {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  &.active {
    font-weight: bold;
    background-color: $light-red;
    i {
      color: $red;
    }
    a {
      color: $dark-red;
      text-decoration: none;
    }
  }
}
