.btn-ghost {
  color: #ec524b;
  border: 1px solid #ec524b;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.btn-ghost .btn-white {
  color: white;
  border-color: white;
  opacity:0.9;
}

.btn-ghost:hover {
  opacity: 1;
}
