.btn-ghost {
  color: $red;
  border: 2px solid $red;
  padding: 8px 24px;
  border-radius: $border-radius-lg;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: $red;
  font-weight: normal;
}

.btn-ghost-white {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: initial;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  background-color: $red;
  border: 2px solid $red;
}

.btn-ghost-white:hover {
  opacity: 1;
  color: white;
  font-weight: normal;
}

.tag-event {
  border-radius: 40px;
  color: white;
  background-color: $red;
  padding: 0 .5rem;
  opacity: 0.5;
  font-size: .7rem;
}

button:focus {outline:0;}

.btn-white-white {
  position: absolute;
  padding: 8px 24px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  background-color: $red;
  color: white;
  border: 2px solid $white;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  top: 125px;
}

.btn-white-white:hover {
  opacity: 1;
  color: white;
  font-weight: normal;
  text-decoration: none;
}
