.btn-ghost {
  color: $red;
  border: 2px solid $red;
  padding: 8px 24px;
  border-radius: $border-radius-lg;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: $red;
  font-weight: normal;
}

.btn-ghost-white {
  color: white;
  border: 2px solid white;
  padding: 8px 24px;
  border-radius: $border-radius-lg;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  background-color: $red;
}

.btn-ghost-white:hover {
  opacity: 1;
  color: white;
  font-weight: normal;
}

.tag-event {
  border-radius: 40px;
  color: white;
  background-color: $red;
  padding: 0 .5rem;
  opacity: 0.5;
}

