.card-style {
  border: .5px solid $dark-blue;
  border-radius: $border-radius;
  padding: 20px 24px;
  img {
    width: 100%;
  }
  background-color: white;
}
.home-arguments {
  margin: 1.5rem 0;
  h2 {
    margin: 1rem 0;
  }
}

.card-home-arguments {
  img {
    height: 150px;
    object-fit: cover;
  }
  h4 {
    margin-top: 1rem;
    width: 100%;
  }
  p {
    overflow: hidden;
  }
  i {
    margin-right: 1rem;
  }
}

.card-testitomy {
  margin-bottom: 1rem;
  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-right: 1rem;
  }
  p {
    font-weight: ligther;
    font-size: 4rem;
  }
}
