.sub-card-style {
  padding: 1rem;
  border-bottom: 0.5px solid $light-gray;
  display: flex;
  align-items: center;
  justify-content: space-betwen;
}

.sub-info {
  margin-left: .3rem;
}

.sub-cat {
  flex-grow: 1;
  .sub-cat-name {
    color: $dark-gray;
  }
  .sub-cat-freq {
    color: $middle-gray;
  }
}
.sub-cat, .sub-leads-link {
  a {
    text-decoration: none;
    color: $gray;
  }
}

.sub-tags {
  display: flex;
  align-items: center;
}

.sub-status {
  .tag-event {
    color: #6FCF97;
    background-color: #E3FFEF;
    opacity: 1;
    font-weight: normal;
  }

}

.sub-lead-count {
  font-size: .8rem;
}

.tag-event-big {
    color: white;
    background-color: #E3FFEF;
    opacity: 0.8;
    font-weight: 400;
    border-radius: 4px;
    padding: .2rem .5rem;
  }


