.abo-description {
  display: flex;
  align-items: center;
}

.abo-category-title {
  border-right: .5px solid $light-gray;
  padding-right: 1rem;
}

.abo-event-description {
  padding-left: 1rem;
  p {
    margin: 0;
  }
}
