.card-home {
  width: 300px;
  height: 450px;
  border: .5px solid $dark-blue;
  border-radius: 4px;
  padding: 20px 24px;
  img {
    height: 150px;
    width: 100%;
  object-fit: cover;
  }
  h4 {
    margin-top: 1rem;
  }
  p {
    overflow: hidden;
  }
}
