.event-category-description {
  display: flex;
  align-items: center;
}

.event-category-title {
  padding-right: 1rem;
  max-width: 150px;
}

.event-description {
  border-left: .5px solid $light-gray;
  padding-left: 1rem;
  padding-right: 1rem;
  p {
    margin: 0;
  }
}

.event-card {
  border-radius: $border-radius;
  padding: 10px 12px;
  background-color: $light-gray;
  opacity: 1;
  color: $dark-blue;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

