.sub-infos-box {
  display: flex;
  flex-grow: 1;
}
.sub-info {
  border-right: 0.5px solid $gray;
  padding: 1rem;
}

.sub-cat, .sub-leads-link {
  a {
    text-decoration: none;
    color: $gray;
  }
}

.sub-cat {
  width: 150px;
}

.sub-event {
  flex-grow: 1;
}

.sub-freq {
  width: 150px;
}

.sub-status {
  padding: 0 1rem;
  .sub-on {
    padding: .5rem 1rem;
    border-radius: $border-radius;
    color: white;
    background-color: $green;
  }
}

