.home-arguments {
  margin: 1.5rem 0;
  h2 {
    margin: 1rem 0;
  }
}

.card-home {
  border: .5px solid $dark-blue;
  border-radius: 4px;
  padding: 20px 24px;
  img {
    width: 100%;
  }
  background-color: white;
}

.card-home-arguments {
  width: 300px;
  height: 450px;
  img {
    height: 150px;
  object-fit: cover;
  }
  h4 {
    margin-top: 1rem;
  }
  p {
    overflow: hidden;
  }
}
