.card-lead {
  background-color: white;
  // box-shadow: 0 0 4px rgba(0,0,0,0.1);
  border-radius: $border-radius-lg;
  padding: 0 1rem;
  border-top: 1px solid $light-gray;
  .card-lead-top {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 .5rem 0;
  }
  .card-lead-contact {
    max-width: 70%;
    flex-grow:1;
    p {
      margin: 0;
    }
    .cat-name {
      font-weight: 600;
      color: $dark-gray;
    }
  }
  .card-lead-top .card-lead-contact {
    display: flex;
    align-items: center;
  }
  .card-lead-event {

  }
  .card-lead-top .card-lead-event {
    display: flex;
    align-items: center;
  }
  .card-lead-details {
    padding: 0 0 1rem 0;
    p {
      margin:0;
      font-size: .8rem;
      color: $middle-gray;
    }
    .card-event {
        color: $dark-gray;
    }
  }
}

.leads-list {
  min-height: 60vh;
  margin-bottom: 1rem;
}

