.category-card {
  h4 {
    margin: 1rem 0;
  }
  margin-bottom: 1rem;
}

.category-card-image {
  height: 200px;
  width: 100%;
  background-size: cover;
}

.category-card-link {
  a {
    text-decoration: none;
    color: $red;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}

.category-head-top-infos {
  display: flex;
  align-items: center;
  h1 {
    margin-right: 1rem;
  }
}
