.category-card {
  h4 {
    margin: 1rem 0;
  }
  a {
    text-decoration:none;
  }
  margin-bottom: 1rem;
}

.category-card-image {
  height: 200px;
  width: 100%;
  border-radius:5px;
  background-size: cover;
}

.category-description {
  height: 150px;
}

.category-link {
  a {
    text-decoration: none;
    color: $red;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}


