.card-style {
  border: .5px solid $dark-blue;
  border-radius: $border-radius;
  padding: 20px 24px;
  background-color: white;
}

.card-style-light {
  border: .5px solid $dark-blue;
  border-radius: $border-radius;
  padding: .5rem;
  background-color: white;
}

.home-arguments {
  margin: 2.5rem 0 1rem 0;
  h2 {
    margin: 1rem 0;
  }
}

.card-home-arguments {
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  h4 {
    margin-top: 1rem;
    width: 100%;
  }
  p {
    overflow: hidden;
  }
  i {
    margin-right: 1rem;
  }
}

.card-testitomial {
  p {
    font-weight: ligther;
    font-size: 1.2rem;
  }
}
.card-testitomy {
  margin-bottom: 1rem;
  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-right: 1rem;
  }

}

.card-minimum {
  border: .5px solid $dark-blue;
  border-radius: $border-radius;
  padding: 10px 12px;
  background-color: white;
  opacity: 1;
  color: $dark-blue;
}

.card-minimum:hover {
  opacity: 0,3;
  background-color: $light-gray;
  font-weight: normal;
}
