.card-style-event {
  border-radius: 10px;
  padding: 20px 24px;
  background-color: $light-gray;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-top: 15px;
}

.card-style {
  border-radius: 10px;
  background-color: $light-gray;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-top: 15px;
}

.card-style-light {
  border: .5px solid $dark-blue;
  border-radius: $border-radius;
  padding: .5rem;
  background-color: $light-gray;
}

.home-arguments {
  margin: 0.5rem 0 0rem 0;
}

.home-arguments-cta {
  text-align: center;
  background-color: $light-gray;
  height: 175px;
  padding-top: 20px;
}

.card-home-arguments {
  img {
    height: 64px;
    object-fit: cover;
  }
  h4 {
    width: 100%;
  }
  p {
    overflow: hidden;
  }
  i {
    margin-right: 1rem;
  }
}

.card-testitomial {
  p {
    text-align: center;
    font-weight: ligther;
    font-size: 1.2rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.card-testitomy {
  margin-bottom: 1rem;
  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-right: 1rem;
  }

}

.card-minimum {
  border-radius: $border-radius;
  padding: 10px 12px;
  background-color: white;
  opacity: 1;
  color: $dark-blue;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-minimum:hover {
  opacity: 0,3;
  background-color: $light-gray;
  font-weight: normal;
}
