.footer {
  height: 130px;
  background-color: $dark-blue;
  text-align: center;
  padding: 3rem;
  li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 30px;
    margin: 10px;
  }
  p {
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
}

.content-wrapper {
  min-height: calc(80vh - 80px - 80px);
}

.footer-link {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  .footer-link-list {
    margin-left: 20px;
  }
  h5 {
    color: white;
  }
}
