.header-top {
  background-color: white;
  padding-bottom: 1rem;
}

.dash-tabs {
  padding-top: 2rem;
  background-color: white;
  border-bottom: .5px solid $dark-blue;
}

.category-head-top-infos {
  display: flex;
  align-items: center;
  h1 {
    margin-right: 1rem;
  }
  span {

  }
}
