.align-text {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.home-arguments-ctb {
  text-align: center;
  background-color: white;
  height: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.light-grey{
  background-color: $light-gray;
}

.main-box {
  position: relative;
  background-color: $red;
  text-align: left;
  color: white;
  height: 350px;
  position: relative;

  h4 {
    color:white;
  }
  h5 {
    color: white;
  }
  p{
    color:white;
    font-weight: lighter;
  }
}

.second-box {
  margin-top: -166px;
  img{
  box-shadow: rgba(60, 64, 67, 0.3) 1px 1px 3px 1px, rgba(60, 64, 67, 0.15) 1px 2px 7px 3px;
  border-radius: 5px;
  }
}
