// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "body";
@import "button";
@import "card-category";
@import "card-event";
@import "card-home";
@import "card-lead";
@import "card-subscription";
@import "header";
@import "home";
@import "navbar";
@import "footer";
@import "search";
@import "side-bar";
@import "tabs";

// basic quick templating for the project

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-vert-around {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
}

.flex-vert {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.no-show {
  display: none;
}
