<div class="col category-card card-style">
  <% if category.photo.attached? %>
    <div class="category-card-image" style="background-image: url('<%= cl_image_path category.photo.key, crop: :fill %>')"></div>
  <% end %>
  <h4><%= category.name %></h4>
  <div class="category-card-title">
      <div class="category-card-description">
        <p> <%= category.description %></p>
        <p> <%= link_to '@category.events_category.count', category_path(category) %>
      </div>
  </div>
</div>
