
<!-- search-form-control -->

<div class="container">
  <%= simple_form_for :query, url: categories_path, method: :get do |f| %>
  <div class="row">
    <div class="">
      <input class="string required" placeholder="Essayer 'Notaire','avocat', 'recrutement'..." type="text" name="query" id="query" value="<%= params[:query] %>"/>
        <button name="button" type="submit" class="rounded-pill">
          <i class="fas fa-search"></i>Chercher
        </button>
    </div>
  </div>
  <% end %>
</div>

<!-- CATRGORIES CARDS  -->

<div class="category-card">
  <div class="category-card-image" style="background-image: url('')"></div>
    <div class="category-card-title">
      <h4><% @categories.each do |category| %></h4>
      <h4><%= category.name %></h4>
       <div class="category-card-description">
      <p> <%= category.description %></p>
    </div>
      <% end %>
    </div>


 <!--    CATEGORY NOMBRE EVENT -->

    <div class="">
    </div>
  </div>
</div>

